body {
  background-color: #0e0e10;
  font-family: "Ubuntu", sans-serif;
}

.text-white {
  color: rgb(255, 255, 255) !important;
}

.text {
  color: rgb(165, 165, 165) !important;
}

.text-comment {
  color: rgb(165, 165, 165) !important;
  margin-left: 2rem !important;
}

a,
a:link,
a:active {
  text-decoration: none !important;
}

a:hover {
  color: white !important;
  text-decoration: none !important;
}
.spacer-100 {
  margin-top: 100px;
}

.spacer-50 {
  margin-top: 50px;
}

.spacer-25 {
  margin-top: 25px;
}

.spacer-20 {
  margin-top: 20px;
}

.spacer-15 {
  margin-top: 15px;
}

.spacer-10 {
  margin-top: 10px;
}

.table-custom {
  width: 100%;
}

li {
  list-style-type: none;
}

.mainframe-body {
  background-color: #18181b;
  border: 1px solid #303030 !important;
  height: 100%;
}

.mainframe-body:hover {
  border: 1px solid rgb(185, 185, 185) !important;
  cursor: pointer;
}

.mainframe-post {
  background-color: #18181b;
  border: 1px solid #303030 !important;
  height: 100%;
}

.mainframe-footer {
  background-color: #18181b;
  border: 1px solid #303030 !important;
}

.mainframe-upvote {
  background-color: #0e0e0e;
  border-right: 1px solid #303030 !important;
  height: 100%;
}

.mainframe-submit {
  background-color: #18181b;
  border: 1px solid #303030 !important;
  height: 100%;
}

.textupvote {
  margin-bottom: 2px;
}

.btn-outline-warning,
.btn-outline-warning:active,
.btn-outline-warning:checked {
  color: rgb(165, 165, 165) !important;
  background-color: none !important;
  border: none !important;
}

.btn-outline-warning:checked,
.btn-outline-warning:hover {
  color: #ff6a29 !important;
  background-color: none !important;
  border: none !important;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  color: #ff6a29 !important;
}

.btn-outline-warning {
  --bs-btn-color: #ff6a29 !important;
  --bs-btn-border-color: none !important;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: none !important;
  --bs-btn-hover-border-color: none !important;
  --bs-btn-focus-shadow-rgb: 255, 193, 7;
  --bs-btn-active-color: #ff6a29 !important;
  --bs-btn-active-bg: none !important;
  --bs-btn-active-border-color: none !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: none !important;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: none !important;
  --bs-gradient: none;
}

.col-md-1-5 {
  flex: 0 0 auto;
  width: 0.1% !important;
}

.text-category {
  margin-top: 0.2rem !important;
  margin-left: 0.5rem !important;
}

.text-inf {
  color: rgb(105, 105, 105) !important;
  font-size: 0.8rem !important;
}

.text-title {
  margin-left: 0.5rem !important;
  font-size: 1.4rem !important;
  margin-top: 0.1rem !important;
}

.text-body {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
  display: block;
  text-overflow: ellipsis;
  word-wrap: break-word;
  overflow: hidden;
  max-height: 20rem;
  line-height: 1.5em;
}

.text-body-page {
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
}

.mt-n8 {
  margin-top: -8px !important;
}
.mt-n10 {
  margin-top: -10px !important;
}
section {
  margin-top: 4rem !important;
}

.fade-text {
  -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
}

.footer-control {
  margin-top: -3rem !important;
}

.border-bottom {
  border-color: #303030 !important;
  padding-bottom: 5px !important;
}

.border-top {
  border-color: #303030 !important;
  padding-top: 15px !important;
}

.text-rules {
  color: rgb(165, 165, 165) !important;
  font-size: 0.8rem !important;
}

.hovertext {
  position: relative;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}

.category-form {
  width: 100%;
  padding: 0.375rem 0.75rem;
  margin-left: -16px !important;
  font-size: 1rem;
  font-weight: 40;
  color: rgb(165, 165, 165);
  background-color: transparent;
  border: 1px solid transparent;
}

.category-form:focus {
  outline: none;
}

.category-form-description {
  width: 100% !important;
  height: 250px !important;
  padding: 0.375rem 0.75rem;
  margin-left: -16px !important;
  font-size: 1rem;
  font-weight: 40;
  color: rgb(165, 165, 165);
  background-color: transparent;
  border: 1px solid transparent;
  resize: none;
}

.category-form-description:focus {
  outline: none;
}

.bttn {
  display: inline;
  font-weight: 450;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 1rem;
  height: 30px;
  line-height: 10px;
}

.bttn-alt {
  color: #18181b !important;
  background-color: transparent !important;
  border-color: #ff6a29 !important;
  border-radius: 25px !important;
  padding-left: 20px;
  padding-right: 20px;
}

.bttn-alt:hover {
  background-color: #ff6a29 !important;
  transition: background-color 0.15s ease-in-out;
}

.mainframe-selector {
  background-color: #18181b;
  border: 1px solid #303030 !important;
  width: 25%;
  margin: 0 !important;
  height: 40px !important;
}

.dropdown-menu-category-select {
  max-height: 200px;
  overflow-y: scroll;
}

.item-selector {
  cursor: pointer !important;
}

.category-selector {
  font-size: 1rem;
  font-weight: 40;
  color: rgb(165, 165, 165);
  background-color: transparent !important;
  border: 1px solid transparent !important;
  margin-bottom: 0.5rem !important;
  padding-left: 0 !important;
}

.mainframe {
  background-color: #18181b;
  border: 1px solid #303030 !important;
  min-height: 100% !important;
}

.mainframe-inputs {
  background-color: #18181b;
  border: 1px solid #303030 !important;
}

.mainframe-inputs:focus {
  background-color: #18181b;
  border: 1px solid rgb(185, 185, 185) !important;
}

.table-custom-size {
  height: 450px !important;
}

.text-area {
  background-color: #18181b;
  border: 1px solid #303030 !important;
  width: 100% !important;
  min-height: 250px !important;
  max-height: 500px !important;
  color: rgb(185, 185, 185);
  margin-top: 1rem !important;
}

.text-area:focus {
  outline: none;
}

.counterplacement {
  margin-top: 0.5rem !important;
}

.mtr-04-02 {
  margin-top: 0.4rem !important;
  margin-right: 0.2rem !important;
}

@media (max-width: 1200px) {
  div.col-md-4 {
    display: none !important;
  }
}

.vote-active {
  color: #ff6a29;
}

.trashcan {
  color: #ce0000;
}

.btn-posts {
  padding: 0.45rem 0.5rem !important;
  text-align: center !important;
  color: rgb(165, 165, 165) !important;
  text-decoration: none !important;
  vertical-align: middle !important;
  background-color: transparent !important;
  border-radius: 0.5rem !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border: none !important;
  line-height: normal !important;
}

.btn-posts:hover {
  text-align: center !important;
  text-decoration: none !important;
  vertical-align: middle !important;
  background-color: #303030 !important;
  border-radius: 0.5rem !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.border-devider {
  margin-bottom: 0.5rem !important;
  border: 0.1rem solid;
  border-color: #7a7a7a;
}

.mb-05 {
  margin-bottom: 0.5rem !important;
}

.text-comments {
  background-color: #18181b;
  border: 1px solid #303030 !important;
  width: 100% !important;
  min-height: 150px !important;
  max-height: 500px !important;
  color: rgb(185, 185, 185);
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.text-comments:focus {
  outline: none;
}

.select2-selection__rendered{
  color: rgb(165, 165, 165) !important;
  background-color: #18181b !important;
  border: 1px solid #303030 !important;
  width: 100%;
  height: 40px !important;
  text-align: center !important;
  vertical-align: middle !important;
  padding-top: 3px !important;
}
.select2-selection, .select2-selection--single,.select2, .select2-container, .select2-container--default, .select2-selection{
  color: #ffffff00 !important;
  background-color: #ffffff00 !important;
  border: 0px #ffffff00 !important;
  margin: 0 !important;
  margin-bottom: 5px !important;
}
.select2-results__option{
  color: rgb(165, 165, 165) !important;
  background-color: #18181b !important;
  border-bottom: 1px solid #303030 !important;
}
.select2-results__option--highlighted{
  color: rgb(165, 165, 165) !important;
  background-color: #313131 !important;
}
.select2-dropdown, .select2-dropdown--below, .select2-search__field{
  color: rgb(165, 165, 165) !important;
  background-color: #18181b !important;
  border: 1px solid #303030 !important;
  border-radius: 0px !important;
  width: 100%;
}
.select2-search--dropdown, .select2-search__field{
  border-bottom: 1px solid #303030 !important;
}

.select2-search--dropdown:focus, .select2-search__field:focus{
  outline: none !important;
}
textarea {
  padding: 5px;
}

.select2-container--default .select2-selection--single, .select2-hidden-accessible{
  background-color: #ffffff00 !important;
  border: 0px transparent !important;
  color: transparent !important;
}